@font-face {
	font-family: "Inter-Regular";
	src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
	font-family: "Inter-Bold";
	src: url("./fonts/Inter-Bold.ttf");
}

@font-face {
	font-family: "Inter-SemiBold";
	src: url("./fonts/Inter-SemiBold.ttf");
}

* {
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
}

h1,
a,
p,
select,
button {
	color: #000000;
	font-family: Inter-Regular, sans-serif;
	font-weight: 400;
	text-decoration: none;
}

.container {
	max-width: 1174px;
	margin: 0 auto;
}

.navigation {
	display: flex;
	justify-content: space-between;
	gap: 460px;
}

.navigation a {
	font-size: 14px;
}

select {
	border: none;
	outline: none;
}
/*= header ========*/
.header {
	margin: 40px 375px 84px 375px;
	font-family: Inter-Regular;
	font-weight: 400;
	font-size: 14px;
}
.logo-header {
	display: flex;
	align-items: center;
}
.menu-header {
	display: flex;
	justify-content: space-between;
	gap: 14px;
	align-items: center;
	width: 577px;
}

.menu-header-first-link {
	color: red;
	font-family: Inter-SemiBold;
}
.menu-header-list-Features {
}

/*= main ========*/
.main {
}
/*====== main section mainContent ========*/
.mainContent {
	margin-bottom: 100px;
	display: flex;
	justify-content: space-between;
}
.mainContent__leftSide {
	max-width: 556px;
}

.mainContent__leftSide h1 {
	font-size: 60px;
	font-weight: 700;
	font-family: Inter-Bold;
	line-height: 120%;
	margin-bottom: 20px;
}
.mainContent__leftSide p {
	font-size: 20px;
	line-height: 140%;
	font-family: Inter-Regular;
	opacity: 0.7;
	margin-bottom: 32px;
	max-width: 520px;
}
.mainContent__leftSide-btnList {
}
.mainContent__leftSide-btnList-framed {
	border-radius: 56px;
	padding: 16px 31px;
	background: rgb(242, 88, 34);
	font-family: Inter-SemiBold;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	color: #fff;
	border: none;
	cursor: pointer;
}
.mainContent__leftSide-btnList-unframed {
	padding: 0 0 0 48px;
	font-family: Inter-SemiBold;
	font-size: 16px;
	font-weight: 600;
	line-height: 19px;
	opacity: 0.5;
	border: none;
	background: none;
}
/*====== main logos ========*/
.logos {
	padding: 100px 0;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 48px;
}
/*====== main section features ========*/
.features {
	display: flex;
	justify-content: space-between;
	gap: 35px;
	padding: 100px 0;
	background: rgb(255, 255, 255);
	flex-direction: row;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 30px;
	max-width: 370px;
	box-sizing: border-box;
	/* border: 5px solid rgb(0, 0, 0); */
}
.card img {
	border-radius: 15px;
}
.card h2 {
	padding: 25px 0 18px 0;
	font-size: 24px;
	font-weight: 700;
	font-family: Inter-Bold;
	line-height: 29px;
}
.card p {
	padding: 0 0 25px;
	font-size: 14px;
	font-weight: 400;
	font-family: Inter-Regular;
	line-height: 150%;
	color: rgb(102, 102, 102);
}
.card button {
	padding: 0 0 18px 0;
	font-size: 14px;
	font-weight: 600;
	font-family: Inter-SemiBold;
	line-height: 150%;
	border: none;
	background: none;
	cursor: pointer;
}
.card-central-features {
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	max-width: 378px;
	/* padding: 40px 30px; */
}
/*====== main background ========*/
.background {
	background: rgb(250, 250, 250);
}
/*====== main section services ========*/
.services {
	padding: 100px 0 100px 0;
}
.services-title {
	margin-bottom: 48px;
	text-align: center;
}
.services-title h1 {
	font-size: 48px;
	font-weight: 700;
	font-family: Inter-Regular;
	line-height: 120%;
	margin-bottom: 24px;
	/* max-width: 740px; */
}
.services-title p {
	font-size: 16px;
	font-weight: 400;
	font-family: Inter-Regular;
	color: rgb(136, 136, 136);
	line-height: 140%;
	max-width: 740px;
	margin: 0 auto;
}
.services-card {
	/* max-height: 378px; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(1, 1fr);
	gap: 20px;
	background: rgb(255, 255, 255);
	text-align: center;
}
.card2 h2 {
	color: rgb(0, 0, 0);
	font-size: 24px;
	font-weight: 700;
	font-family: Inter-Bold;
	line-height: 29px;
	padding: 32px 34px 16px;
}
.card2 p {
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 400;
	font-family: Inter-Regular;
	line-height: 150%;
	padding: 0 34px 24px;
}
.card2 button {
	/* padding: 0 0 18px 0; */
	border-radius: 56px;
	padding: 16px 32px 16px 32px;
	font-size: 16px;
	font-weight: 600;
	font-family: Inter-SemiBold;
	color: rgb(255, 255, 255);
	line-height: 19px;
	box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.2);
	background: rgb(242, 88, 34);
	cursor: pointer;
	margin-bottom: 34px;
	border: none;
}
.card-central-services {
	box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
	background: rgb(255, 255, 255);
}
